/**************** All page ****************/

body {
    background: #071B23;
    background: -webkit-radial-gradient(center, #071B23, #0B1214);
    background: -moz-radial-gradient(center, #071B23, #0B1214);
    background: radial-gradient(ellipse at center, #071B23, #0B1214);
    /**************** COLOR BACKGROUND BACKUP = #102027 ****************/
}

/**************** All page ****************/

#page {
    width: 780px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#header {
    color: rgba(117, 19, 15, 0.945);
}

#photoright {
    float: right;
}

.pics {
    float: right;
    width: 15%;
    border-radius: 65px 5px;
    border: 5px solid rgba(117, 19, 15, 0.35);
    -webkit-box-shadow: 20px 12px 29px 5px rgba(51, 14, 14, 1);
    -moz-box-shadow: 15px 12px 29px 5px rgba(51, 14, 14, 1);
    box-shadow: 5px 12px 39px 5px rgba(51, 14, 14, 1);
}

.pics:hover {
    float: right;
    width: 70%;
    border-radius: 50px 50px;
    border: 5px solid rgba(117, 18, 15, 0.7);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

/**************** Structure du CV ****************/

h1 a {
    color: rgba(117, 18, 15, 0.7);
    font-size: 24px;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgba(117, 18, 15, 0.639);
}

h1:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    -webkit-transition-duration: 150ms;
    -webkit-transition-delay: 150ms;
    -webkit-transition-timing-function: linear;
    transition-duration: 150ms;
    transition-delay: 150ms;
    transition-timing-function: linear;
}



h2 {
    text-align: center;
    font-size: 18px;
    color: rgba(117, 19, 15, 0.945);
    border-bottom: 2px solid rgb(104, 13, 10);
    padding-bottom: 15px;

}

section h2 {
    -webkit-box-shadow: 5px 5px 13px 1px rgba(107, 16, 20, 1);
    -moz-box-shadow: 5px 8px 13px 3px rgba(107, 16, 20, 1);
    box-shadow: 5px 10px 15px 1px rgba(107, 16, 20, 1);


}

h2:hover {
    text-align: center;
    font-size: 24px;
    color: rgba(117, 19, 15, 0.945);
    border-bottom: 2px solid rgb(104, 13, 10);
    padding-bottom: 15px;
    -webkit-transition-duration: 300ms;
    -webkit-transition-delay: 300ms;
    -webkit-transition-timing-function: linear;
    transition-duration: 300ms;
    transition-delay: 300mss;
    transition-timing-function: linear;
}


section {
    margin-bottom: 100px;
}

.left-body {
    margin-top: 16px;
    color: rgba(230, 152, 64, 0.945);
    float: left;
    font-weight: bold;
    font-size: 14px;
}

.right-body {
    font-size: 14px;
    color: rgba(230, 152, 64, 0.945);
    margin-top: 50px;
    margin-left: 255px;
}


/**************** ETUDES & FORMATIONS ****************/
#format-left p {
    margin-bottom: 37px;
}

#format-right p {
    margin-bottom: 22px;
}

/*************** EXPÉRIENCES PROFESSIONNELLES ****************/


#exp-left p {
    margin-bottom: 47px;

}

#exp-right p {
    margin-top: 27px;
    padding-bottom: 6px;
}


#interest-section {
    position: relative;
    justify-items: center;

}

#interest {
    text-align: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;


}

#copyright {
    color: rgba(128, 128, 128, 0.288);
    margin-top: 50px;
    width: 960px;

}


/*************** FOOTER ****************/


.iconsocial {
    width: 25px;
    padding-right: 12px;
    margin: 0 auto;
    text-align: center;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
}


.iconsocial:hover {
    width: 35px;
    padding-right: 12px;
    margin: 0 auto;
    text-align: center;
}

footer {
    clear: both;
    position: relative;
    text-align: center;
}