/**************** All page ****************/

body {
    background-color: #102027;
}

#page {

    width: 780px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.infoleft {
    float: left;
}

#header {
    color: rgba(117, 19, 15, 0.945);
}




#photoright {
    float: right;
}

.pics {
    float: right;
    width: 15%;
    border-radius: 70px 5px;
    border: 5px solid rgba(117, 19, 15, 0.65);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.2s ease;
         transition: all 0.5s ease;
}


.pics:hover {
    float: right;
    width: 70%;
    border-radius: 75px 12px;
    border: 5px solid rgba(117, 18, 15, 0.76);


}


/**************** Structure du CV ****************/

h1 {
    font-size: 24px;
    text-transform: capitalize;
}


h2 {
    text-align: center;
    font-size: 18px;
    color: rgba(117, 19, 15, 0.945);
    border-bottom: 2px solid rgb(104, 13, 10);
    padding-bottom: 15px;
    text-transform: capitalize;

}

h2:hover {
    text-align: center;
    font-size: 18px;
    color: rgba(117, 19, 15, 0.945);
    border-bottom: 2px solid rgb(104, 13, 10);
    padding-bottom: 15px;
    text-transform: uppercase;

}


section {

    margin-bottom: 100px;
}

.left-body {
    margin-top: 16px;
    color: rgba(230, 152, 64, 0.945);
    float: left;
    font-weight: bold;
    font-size: 14px;
}

.right-body {
    font-size: 14px;
    color: rgba(230, 152, 64, 0.945);
    margin-top: 50px;
    margin-left: 255px;
}


/**************** ETUDES & FORMATIONS ****************/
#format-left p {
    margin-bottom: 37px;
}

#format-right p {
    margin-bottom: 22px;
}

/*************** EXPÉRIENCES PROFESSIONNELLES ****************/


#exp-left p {
    margin-bottom: 47px;

}

#exp-right p {
    margin-top: 27px;
    padding-bottom: 6px;
}


#interest-section {
    position: relative;
    justify-items: center;

}

#interest {
    text-align: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;


}

#copyright {
    color: rgba(128, 128, 128, 0.288);
    margin-top: 50px;
    width: 960px;

}




/*************** FOOTER ****************/


.iconsocial {
    width: 25px;
    padding-right: 12px;
    margin: 0 auto;
    text-align: center;
}


.iconsocial:hover {
    width: 35px;
    padding-right: 12px;
    margin: 0 auto;
    text-align: center;
}


footer {
    clear: both;
    position: relative;
    text-align: center;
}